<div id="header-main">
  <span id="logo">Bullshit Generator 9000</span>
  <nav id="nav-main">
    <a href="/">Read BS</a>
    <a href="/send">Send BS</a>
    <a href="/about">About</a>
  </nav>
</div>
