<h2>Submit your content</h2>

<form id="send-form" action="/new" method="POST">

  <div class="forminput">
    <label for="artist-name">Artist name</label>
    <input type="text" id="artist-name" name="artistName">
  </div>

  <div class="forminput">
    <label for="artist-albums">Artist albums</label>
    <textarea id="artist-albums" name="artistAlbums" placeholder="Albums separated by commas ie : Album 1, Album 2"></textarea>

  </div>

  <div class="forminput">
    <button type="submit" id="send-form-submit" name="button">Submit !</button>
  </div>
</form>
