<h2>Submit your own</h2>

<form id="send-form" action="/newquote" method="POST">

  <div class="forminput">
    <label for="quote">Made up BS</label>
    <textarea id="quote" name="quote"></textarea>
  </div>

  <div class="forminput">
    <label for="source">Debunk URL</label>
    <input type="text" id="source" name="source" placeholder="Optional url">
  </div>

  <div class="forminput">
    <button type="submit" id="send-form-submit" name="button">Send your bullshit !</button>
  </div>
</form>
