<h2>Submit your own</h2>
<form id="send-form" action="#" method="post">
  <div class="forminput">
    <label for="quote">Made up BS</label>
    <input type="textarea" name="quote" value="">
  </div>

  <div class="forminput">
    <label for="quote">Debunk source</label>
    <input type="text" name="source" value="">
  </div>

  <div class="forminput">
    <button type="submit" name="button">Send your bullshit !</button>
  </div>
</form>
